body {
    background: #0A4D68;
    color: #F0F0F0;
}

h1, h2 {
    background-color: #088395;
    padding: 10px;
    border-radius: 10px;
}

div {
    background-color: #088395;
    padding: 5px;
    border-radius: 10px;
    width: 500px;
}

div img {
    width: 250px;
    height: 250px;
    border-radius: 5px;
}

.inicio-pagina {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

@media (max-width: 360px) {
    div {
        width: 250px;
    }
}